<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header>
        <div class="header">
            <a href="">Livros</a>
            <a href="">Cadastrar</a>
        </div>

    </header>

    <main>

        <div class="titPagina">
            <p>Atualizar Livro</p>
        </div>

        <form action="" method="post">
            <div>
                <p class="letra">Título do livro:</p>
                <input type="text" id="titu" name="titulo" placeholder="Digite o nome do livro...">
            </div>

            <div>
                <p class="letra">Categoria do Livro:</p>
                <input type="text" id="cate" name="categoria" placeholder="Digite a categoria do livro...">
            </div>

            <div>
                <p class="letra">Descrição do Livro:</p>
                <input id="desc" type="text" name="descricao" placeholder="Digite a descrição do livro...">
            </div>

            <div class="dubleCol">
                <div class="div2">
                    <p class="letra">Preço do livro:</p>
                    <input type="" id="precQuan" name="preco" placeholder="R$50,00">
                </div>

                <div class="div2">
                    <p class="letra">Quantidade disponível:</p>
                    <input type="" id="precQuan" name="quantidade" placeholder="60">
                </div>
                
            </div>

            <div>
                <button type="submit">Atualizar</button>
            </div>
        </form>

    </main>

    <footer>
        <p>RODAPÉ</p>
    </footer>

</body>
</html>


